.top-text, .bottom-text {
    color: white;
    text-shadow: 0 0 20px rgb(0, 0, 0),
                 0 0 10px rgb(0, 0, 0),
                 0 0 70px rgb(0, 0, 0);
    font-size: 30px;
    margin: 10px 0;
}

.top-text {
    position: absolute;
    top: 10px; /* Adjust this value to place it higher or lower */
    width: 100%;
    text-align: center;
}

.bottom-text {
    position: absolute;
    bottom: 10px; /* Adjust this value to place it higher or lower */
    width: 100%;
    text-align: center;
}


h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;

}

h1 {
    text-align: center;
    text-shadow: 0 0 20px rgb(255, 255, 255),
                 0 0 10px rgb(255, 255, 255),
                 0 0 70px rgb(255, 255, 255);
    color: black;
}


body {
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;

    color: white;
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text within content */
    flex-direction: column; /* Stack items vertically */
}



.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.social-media div {
    margin: 0 20px;
    text-align: center;
}


.social-media h2 {
    color: white;
    text-shadow: 0 0 20px rgb(255, 255, 255),
                 0 0 10px rgb(255, 255, 255),
                 0 0 70px rgb(255, 255, 255);
}


.social-media a {
    color: white;
    text-decoration: none;
}

.social-media a:hover h2 {
    text-shadow: 0 0 30px rgb(255, 255, 255),
                 0 0 15px rgb(255, 255, 255),
                 0 0 80px rgb(255, 255, 255);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em; 
    }

    .social-media h2 {
        font-size: 1.2em;
    }
    
    .social-media div {
        margin: 5px; 
    }
}
